[Desktop Entry]
Name=GUI settings
Comment=GUI settings
Exec=gnome-terminal --hide-menubar -e /usr/local/bin/xxx_gui.sh
Icon=network
Terminal=false
Type=Application
Categories=GNOME;KDE;
OnlyShowIn=GNOME;KDE;
X-GNOME-Keywords=Network;
X-GNOME-Autostart-enabled=true
